  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-11">
        <div class="lead">
          <%= decidim_sanitize translated_attribute current_organization.description %>
        </div>
      </div>
    </div>
  </section>
