#proposals-top{
  margin-bottom: 1.5rem;

  .proposals-heading{
    margin-bottom: 5rem;
  }

  span,
  a{
    margin: .5rem;
  }
}

.categories__dropdown{
  .order-by__text{
    display: none;

    @include breakpoint(medium){
      display: block;
    }
  }
}

.categories__dropdown,
.order-by__dropdown{
  align-items: baseline;
}

.order-by__text,
.results-per-page__text{
  font-weight: bold;
}

.collection-sort-controls{
  margin-bottom: 5rem;
  line-height: 2.5rem;

  @include breakpoint(medium){
    text-align: center;
  }
}

.collection-sort-controls > div{
  display: block;

  @include breakpoint(medium){
    display: inline-block;
    margin: 0 1rem;
  }
}

.results-per-page__options{
  margin-left: .5rem;
}

.current-per-page{
  color: $hel-bus;
}

.categories{
  margin-bottom: 1rem;
}

.categories__dropdown > ul > li > a{ padding: 0 1.5rem 0 0 !important; }

.proposal-preview{
  & > a{
    text-decoration: none;
    font: inherit;
    display: block;
  }

  img.circle{
    width: 128px;
    border-radius: 50%;
    margin-bottom: .5rem;
  }

  .proposal-body{
    margin-bottom: .75rem;
  }

  .see-proposal{
    font-weight: bold;
    text-decoration: underline;
  }
}
