@mixin foundation-top-bar-extra {
  .top-bar {
    margin-bottom: -1px;

    @include breakpoint(large) {
      padding: $topbar-padding-large;
    }
    @include breakpoint(xlarge) {
      font-size: 18px;
    }
    .top-bar-left,
    .top-bar-right {
      @include breakpoint(smallmedium down) {
        width: auto;
      }
    }
  }
}
